<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Something-smart</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="assets/main.css" type="css/text" rel="stylesheet">
</head>
<body>

  <header>
    <h1><a href="#" class="logo"><span>S</span>omething <span>S</span>mart</a></h1>
    <ul>
      <li class="navItem"><a href="#" class="navLink">All Notes</a></li>
      <li class="navItem"><a href="#" class="navLink">Your Notes</a></li>
      <li class="navItem"><a href="#" class="navLink">Best Notes</a></li>
    </ul>
  </header>

    {{{body}}}

</body>
</html>
